@import 'mixins';
body{
  background: $dark;
}
#wrap {
	width: 960px;
	padding: 0 20px;
	margin: 0 auto;
	background: $light;
	
	#header {
		@incldue clearfix;
		margin-bottom: 20px;

		#masthead{
			@include clearfix;
			height: 110px;
			background: $light;
			
			#logo {
				margin-top: 22px;
				height: 70px;
				width: 220px;
        background: url("/images/logo.png");
				float: left;
			}
			
			#super_nav{
				height: 90px;
				margin-top: 10px;
				float: right;
				
				ul{
					li{
						float: left;
						list-style-type: none;
						margin-right: 10px;
						
						form{
							margin-top: -5px;
						}
					}
				}
			}
			
			#banner-ad {
				margin-top: 10px;
				height: 90px;
				width: 728px;
/*        background: url("images/ads/banner.png");*/
				float: right;
			}
		}
		
		#nav{
			@include clearfix;
			ul{
				margin-left: 20px;
/*				height: 25px;
				line-height: 25px;
*/				position: relative;
				li{
					@include rounded_top_corners(5px);
					height: 20px;
					line-height: 20px;
					padding: 0 20px;
					float: left;
					margin-top: 5px;
					
					&.selected{
						background: $blue;
						color: $medium;
						height: 25px;
						line-height: 25px;
						margin-top: 0;
						&:hover{
							background: $blue;
							color: $medium;
							};
					}
					
					&:hover{
						background: $dark;
					}
				}
			}
		}
		
		#breadcrumbs {
			@include rounded-corners(5px);
			height: 20px;
			background: $blue;
		}
	}
	
	#main {			
		#primary{
			float: left;
			width: 640px;
		}
		#secondary{
			float: right;
			width: 320px;

			#mpu {
				display: none;
				margin: 10px auto 0 auto;
				height: 250px;
				width: 300px;
				background: url("images/ads/mpu.jpg");
			}
		}
	}
}

#footer{
	font-size: small;
	padding: 0 20px;
	line-height: 30px;
  background: $blue;
	color: $light;

	a {
		color: $light;
	}
	a:visited {
		color: $light;
	}
	a:hover {
		color: $medium;
	}
	
	
	#follow_me{
		float: left;
		a {
			display: block;
			background: url("images/icons/twitter.png");
			text-indent: -999em;
			margin-top: 2px;
			height: 25px;
			width: 25px;
		}
	}
	
	#wildfalcon_attribution{
		float: right;
		
	}
}
