@import 'mixins';

body#static {
	h1{
		margin-bottom: 15px;
	}

	#primary{
		padding-left: 10px;
	}
}

body#home.index{
  background: $dark;

  #header{
		background: $medium;
			
		#super_nav{
			@include clearfix;
			width: 193px;
			margin: 0 auto;
			text-align: center;
			font-size: 1.2em;
			ul{
				li{
					list-style-type: none;
					float: left;
					margin-right: 10px;
				}
			}
		}

    #nav{
      @include rounded_corners(0);
      height: 50px;
    }

    #masthead{
      padding-top:20px;			
			background: $medium;
      #logo{
        margin: 0 auto;
        float: none;
      }
    }
  }

	#footer{
		#footer_links{
			line-height: 30px;
		}
	}

	#row1{
		height: 130px;
		@include clearfix;
		
		.left_column {
			width: 460px;
			height: 130px;
			float: left;
			
			fieldset{
			  margin: 400px;
			}
		}
		.right_column {
			width: 460px;
			height: 130px;
			float: right;		
		}
	}
	
	#row2{
		height: 300px;
		background: $medium;
		@include clearfix;
		padding-top: 15px;
		h3{
		  font-size: 1.5em;
		  margin-bottom: 10px;
		}
		
		.col1,.col2,.col3{
			float:left; 
			height: 300px; 
			padding: 10px;
			
			h3{
				margin-bottom: 10px;
			}
		}
		.col1{
			width: 460px;
			h3{
			  text-align: center;
			}
			
			ol{
			  margin-left: 3em;
			  font-size: 1.3em;
			  line-height: 1.3em;
			  li{
			    list-style-type: decimal;
			  }
			}
		}
		.col2{
			width :460px;
			text-align: center;
		}		
	}

	#row3{
		height: 300px;
		background: $medium;
		@include clearfix;
		padding-top: 15px;

		fieldset{
			float: left; /* Needed to make mailchimp form behave */
			width: 455px;
			margin: 0 auto;
		}
	}



	#login {
		width: 300px;
		height: 50px;
		line-height: 0px;
		padding: 20px;
		background: $blue;
		color: $light;
		text-align: center;
		margin: 15px auto;
    
		h2{
			margin-bottom: 10px;
		}
	}
}

body#landing_pages.break_bad_habits{

	#wrap{
		background: $medium;
	}
	#header,#masthead,.row1,.row2{
		background: $light;
	}
	
	
	#header {
		margin-bottom: 0;
		padding-bottom: 5px;
		#masthead{
			margin-bottom: 0;
		}	
	}
	
	h1{
		margin-bottom: 0;
		padding-bottom: 0.5em;
	}
	
  #carousel{
    position: relative;
    width: 440px;
    height: 293px;

		a{
			position: absolute;
			right: 5px;
			bottom: 5px;
		}
  }

	ul li {
		font-weight: bold;
	}
	
	form{ 
		font-size: 1.3em;
		line-height: 1.3em;
		

		button{
			@include rounded-corners(8px);
			padding: 8px;
			cursor: pointer;
			background: $blue;
			color: $light;
			border: none;
			font-size: large;
			
			&:hover{
				color: $medium;
			}
		}
	}
}