@import 'mixins';

body#static {
	h1{
		margin-bottom: 15px;
	}

	#primary{
		padding-left: 10px;
	}
}


body#home{
  background: $dark;

  #header{
		background: $medium;
			
		#super_nav{
			@include clearfix;
			width: 193px;
			margin: 0 auto;
			text-align: center;
			font-size: 1.2em;
			ul{
			  margin: 0;
				li{
					list-style-type: none;
					float: left;
					margin-right: 10px;
				}
			}
		}

    #nav{
      @include rounded_corners(0);
      height: 50px;
    }

    #masthead{
      padding-top:20px;			
			background: $medium;
      #logo{
        margin: 0 auto;
        float: none;
      }
    }
  }

	#footer{
		#footer_links{
			line-height: 30px;
		}
	}

  &.index{
    #row1{
      padding: 0 10px;
      height: 300px;
      font-size: 1.3em;
      line-height: 1.3em;
      
      .blurb{
        margin-bottom: 15px;
      }
      
      img{
        margin: 5px;
        margin-right: 15px;
        height: 250px;
      }
    }
    
    #row2{
      @include clearfix;
      background: $medium;
      padding-top: 10px;
      
      h3{
        font-size: 1.3em;
      }
      
      .col1,.col2,.col3{
        width: 31%;
        float: left;
        margin-left: 2%;
      }
      
      .col1{
        ol{
          margin-left: 1.5em;
          font-size: 1.2em;
          line-height: 1.2em;
          li{
            list-style-type: decimal;
          }
          
        }
      }
    
    }
  }

  &.signup{
    #row1{
  		height: 130px;
  		@include clearfix;

  		.left_column {
  			width: 460px;
  			height: 130px;
  			float: left;

  			h2{
  				font-size: 1em;
  			}
  		}
  		.right_column {
  			width: 460px;
  			height: 130px;
  			float: right;		
  		}
  	}

  	#login {
  		width: 300px;
  		height: 50px;
  		line-height: 0px;
  		padding: 20px;
  		background: $blue;
  		color: $light;
  		text-align: center;
  		margin: 15px auto;

  		h2{
  			margin-bottom: 10px;
  		}
  	}	
  }
}

body#landing_pages.break_bad_habits{

	#wrap{
		background: $medium;
	}

	#header,#masthead,.row1,.row2{
		background: $light;
	}
		
	#header {
		margin-bottom: 0;
		padding-bottom: 5px;
		#masthead{
			margin-bottom: 0;
		}	
	}
	
	h1{
		margin-bottom: 0;
		padding-bottom: 0.1em;
	}
	
  #carousel{
    position: relative;
    width: 440px;
    height: 293px;

		a{
			position: absolute;
			right: 5px;
			bottom: 5px;
		}
  }

	ul li {
		font-weight: bold;
	}
	

	.row3{
		.left{
			width: 25%;
		}
		.right{
			width: 71%;
			float: left;
			
			img{
				height: 137px;
				margin-right: 5px;
			}
		}
	}

}