@import 'mixins';

body{
	background: #ddd;
  font-family: "Helvetica-Light", "Helvetica Light", Helvetica, Arial, sans-serif;
}

#wrap{
	@include gradient-background(white, #ccc, white);
}

#header {
	@include gradient-background(#bbb, white, #bbb);
}

#footer{
  background: #690000;
}
#new_habit{
	@include rounded_corners(5px);
	background: white;
	border: 1px solid #ddd;
	width: 290px;
	margin: 0 auto;
  padding: 5px;
  margin-bottom: 10px;
  
  form{
    text-align: center;
    legend{
      font-weight: bold;
      text-align: center;
      line-height: 2em;
      margin-bottom: 3px;
    }
    label{
      display: none;
    }
  }
}

#profile {
  @include clearfix;
  @include rounded_corners(5px);
  background: white;
  border: 1px solid #ddd;
  width: 290px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px;
  
  .photo {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 5px;
  }
  
  .details{
    padding-top: 5px;
    line-height: 1.2em;
  }
}

.habits {
 @include gradient-background(white, #ddd, white);
 @include rounded_corners(5px);
 border: 1px solid #ddd;
 width: 600px;
 margin: 0 auto;
 .habit{
   @include rounded_corners(5px);
   margin: 10px;
   padding: 10px;
   border: 1px solid #bbb;
    @include gradient-background(#ddd, #bbb, #ddd);
   .calendar{
     @include clearfix;
     margin: 10px;
     .day{
       @include rounded_corners(3px);
       border: 1px solid #bbb;
       margin: 3px;
       background: white;
       font-family: 'Gill Sans', 'sans-serif';
       text-align: center;
       color: #bbb;
       line-height: 50px;
       height: 50px;
       width: 90px;
       float: left;
       
       &.completed {
         background-color: #690000;
       } 
     }
   }
 } 
}
