<div id="follow_me">
  <a href="http://www.twitter.com/habitualapp">Follow me on twitter</a>
</div>

<div id="footer_links">
  <ul>
    <li><a href="mailto:laurie@habitualapp.com">Feedback</li>
  </ul>
</div>

<div id="wildfalcon_attribution">
  Made by <a href="http://www.wildfalcon.com" class="wildfalcon">Wildfalcon</span>
</div>