<div id="follow_me">
  <a href="http://www.twitter.com/habitualapp">Follow me on twitter</a>
</div>

<div id="wildfalcon_attribution">
  Made by <a href="http://www.wildfalcon.com" class="wildfalcon">Wildfalcon</span>
</div>