<div id="row1">
  <div class="left_column">
    <h1>Set yourself a 30 day challenge</h1>
    <ol>
      <li>Do something every day.</li> 
      <li>If you miss a day, restart from day 1</li>
      <li>After 30 days, it will be a habit</li>
    </ol>
   
  </div>

  <div class="right_column">
     <div id="login">
        <h2>Log in with your Facebook account</h2>
        <div id="fb">
          <fb:login-button perms="email"></fb:login-button>      
        </div>
      </div>
  </div>
</div>


<div id="row2">
</div>