<div id="row1">
   <h1>HabitualApp - Making habits that stick</h1>
    <div class="blurb">
      <img src="/images/screenshots/calendar.png" align="left"/>
      <p>HabitualApp is a free web app, intending to help people take control of their lives. Habits are the bedrock of how you live. Changes in your life can be made by breaking bad habits, and forming good ones.</p>

      <p>Use HabitualApp to list the habits you are trying to change. Spread the word to your friends to generate some social support, and keep you on track with your daily progress. Before you know it, the new habit will be part of your life.</p>
    </div>
    
    <div class="cta">
      <form action="/signup">
        <lable>Set a new habit today</label>
        <button>Free Account</button>
      </form>
    </div>
</div>


<div id="row2">
  <div class="col1">
    <h3>Your own 30 day challenge</h3>
    <ol>
      <li>Do something every day.</li> 
      <li>If you miss a day...<br/>...restart from day 1</li>
      <li>After 30 days, it will be a habit</li>
    </ol>
  </div>
  <div class="col2">
    <h3>Testemonials</h3>
    <div class="testimonial">
      I have used Habitual to set several habits. They have all been a success
      <div class="signature">
        Laurie Young
      </div>
    </div>

    <div class="testimonial">
      Using Habitual I managed to master the hardest guitar piece in my repertoire
      <div class="signature">
        Pablo Brasso
      </div>
    </div>
  </div>
  <div class="col3 connect">
    <h3>Connect</h3>
    <div class="facebook">
      <a href="http://www.facebook.com/apps/application.php?id=185834758098055" title="Habitualapp's Facebook Page">Connect on Facebook</a>
    </div>
    <div class="twitter">
      <a href="http://twitter.com/habitualapp" title="Follow Habitualapp on Twitter">Follow me on Twitter</a>
    </div>
  </div>
</div>
