<div id="row1">
  <%= render :partial => 'signup_or_login' %>

</div>


<div id="row2">
  <div class="col1">
    <h3>Set yourself a 30 day challenge</h3>
    <ol>
      <li>Do something every day.</li> 
      <li>If you miss a day, restart from day 1</li>
      <li>After 30 days, it will be a habit</li>
    </ol>
  </div>
  <div class="col2">
    <h3>30 Day progress tracker</h3>
    <img src="/images/screenshots/calendar.png"></img>
  </div>
</div>
