<h1>Donate Money</h1>

<p>HabitualApp is a free service. But it does take up time and a bit of money to keep it running. If you like, you can use the button below to donate some money. All money will go either on running the site, or if there is any left over, buying beer for those who have helped me</p>

<div><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LNCSQLZ96VJYJ">
<input type="image" src="https://www.paypal.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form></div>