<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

  app = $.sammy(function(){
    this.post('#/habits', function(){
      var habit = new Habit({name: this.params.name});
      habit.save();
    });
    
    this.del("#/habits/:id", function(){
      var habit = Habit.find(this.params['id']);
      habit.destroy(function(success){
        if (success){
          habit.trigger("remove");
        }
      });
    });
  });
  
  $(function() {
    $('.habits').habitList();
    $('#completed_habits').completedHabits();
    $('#friends_habits').friendsHabitsList();
    app.run();    
    Habit.load(function(){
      if (Habit.all().length==0){
        FeaturedHabit.load();
      }
    });
    
    CompletedHabit.load();
    FriendsHabit.load();
  });
  
  </script>
<% end %>

<div class="habits"></div>

<% content_for :secondary do %>
<div id="new_habit">
  
  <form action="#/habits", method="post">
    <fieldset>
      <legend>Create a new habit</legend>
    <label id="name">Name</label>
    <input type="textfield" name="name"></input>
    <input type="submit"></input>
    </fieldset>
  </form>
</div>

<div id="completed_habits">
  <div class="head">
    <h2>Completed Habits</h2>
  </div>
  <!-- Filled in by JS -->
</div>

<div id="friends_habits">
  <div class="head">
    <h2>Your friend's habits</h2>
  </div>
  <!-- Filled in by JS -->
</div>

<% end %>

