<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

  app = $.sammy(function(){
    this.post('#/habits', function(){
      var confirmed = confirm("This will create a new habit and post to Facebook to say every day you will "+this.params.name+"\n Do you want to continue?");
      if (confirmed){
        var habit = new Habit({name: this.params.name});
        habit.save(function(success){
          if (success) $(document).trigger('close.facebox')
        });
      }
    });
    
    this.del("#/habits/:id", function(){
      var habit = Habit.find(this.params['uid']);
      habit.destroy(function(success){
        if (success){
          habit.trigger("remove");
        }
      });
    });
  });
  
  online = true
  
  $(function() {
    $('.habits').habitList();
    $('#completed_habits').completedHabits();
    $('#friends_habits').friendsHabitsList();
    $('a[rel*=facebox]').facebox()
    app.run();    
    Habit.load(function(){
      if (Habit.all().length==0){
        FeaturedHabit.load();
      }
    });
    
    CompletedHabit.load();
    FriendsHabit.load();
  });
  
  </script>
<% end %>

<div class="habits"></div>

<% content_for :secondary do %>
<% if user_logged_in? %>
<div id="profile">
  <div class="photo">
    <%= image_tag current_user.profile_url("square") %>
  </div>
  <div class="details">
    <%= current_user.name %> <%= link_to "(Logout)", "#/logout" %><br/>
    Currently developing <%= pluralize(current_user.habits.uncompleted.count, "habit") %>
  </div>
</div>
<% end %>

<div id="new_habit">
  <a href="#new_habit_form" rel="facebox">Create a new Habit</a>
  <div id="new_habit_form">
    <form action="#/habits", method="post">
      <fieldset>
        <legend></legend>
        <p>Create a new habit, and post it to Facebook</p>
        <p>Every day, for 30 days, I'm going to:</p>
      <label id="name">Name</label>
      <input type="textfield" name="name" class="text"></input><br/>
      <button type="submit">Create and post to Facebook</input>
      </fieldset>
    </form>
  </div>
</div>

<div id="completed_habits">
  <div class="head">
    <h2>Completed Habits</h2>
  </div>
  <!-- Filled in by JS -->
</div>

<div id="friends_habits">
  <div class="head">
    <h2>Your friend's habits</h2>
  </div>
  <!-- Filled in by JS -->
</div>

<% end %>

