<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

  app = $.sammy(function(){
    this.post('#/habits', function(){
      var habit = new Habit({
        name: this.params.name,
        secret: this.params.secret
      });
      habit.save(function(success){
        if (success) $(document).trigger('close.facebox')
      });
    });
    
    this.del("#/habits/:uid", function(){
      var habit = Habit.find_by_uid(this.params['uid']);
      habit.destroy(function(success){
        if (success){
          habit.trigger("remove");
        }
      });
    });
  });
  
  online = true
  
  $(function() {
    $.facebox.settings.closeImage   = '/images/closelabel.png'
    $.facebox.settings.loadingImage = '/images/loading.gif'
  	

    $('.habits').habitList();
    $('#completed_habits').completedHabits();
    $('#friends_habits').friendsHabitsList();
    $('a[rel*=facebox]').facebox()
    app.run();    
    Habit.load(function(){
      if (Habit.all().length==0){
        FeaturedHabit.load();
      }
    });
    
    CompletedHabit.load();
    FriendsHabit.load();
  });
  
  </script>
<% end %>

<div class="habits"></div>

<% content_for :secondary do %>
<% if user_logged_in? %>
<div id="profile">
  <div class="photo">
    <%= image_tag current_user.profile_url("square") %>
  </div>
  <div class="details">
    <%= current_user.name %> <%= link_to "(Logout)", "#/logout" %><br/>
    Currently developing <%= pluralize(current_user.habits.uncompleted.count, "habit") %>
  </div>
</div>
<% end %>

<div id="new_habit">
  <a href="#new_habit_form" rel="facebox">Create a new Habit</a>
  <div id="new_habit_form">
    <div id="new_habit_form_content">
      <div class="head">
        <h3>Create a new Habit</h3>        
      </div>

      <form action="#/habits", method="post">
        <fieldset>
          <legend></legend>
          <p class="input_frame">Every day, for 30 days, I'm going to:</p>
          <label id="name">Name</label>
          <input type="textfield" name="name" class="text"></input><br/>
          
          <div class="secrecy">
            <input type="radio" name="secret" value="false" checked/> Share my habit on Facebook so my friends can support me<br />
            <input type="radio" name="secret" value="true" /> I don't want my friends to know about this. Keep it secret.
          </div>
          <button type="submit">Create Habit</input>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div id="completed_habits">
  <div class="head">
    <h2>Completed Habits</h2>
  </div>
  <!-- Filled in by JS -->
</div>

<div id="friends_habits">
  <div class="head">
    <h2>Your friend's habits</h2>
  </div>
  <!-- Filled in by JS -->
</div>

<% end %>

