<h1>About</h1>

<p>HabitualApp is an app for building or changing habits in your life. Do you have a resolution to go to bed earlier, or be kinder to people, or empty your email inbox every day?</p>

<p>Thirty day trials are a great technique for making resolutions succeed. They can be used to:
<ul>
	<li>Change existing behaviours, such as go to bed earlier,</li>
	<li>Add new behaviours, like eat more fruit,</li>
	<li>Remove unwanted behaviours, like giving up smoking.</li>
</ul>
You pick an action to do, or not do, every day, and then do (or don't do) it every day for thirty days. Since thirty days is a managable amount of time, and one action is also managable, the idea is that it is easy to stick with. However you only consider the trial a success if you do thirty days in a row, with no exceptions. If you miss a day, then you restart from day one!</p>

<p>Each day that you do whatever it is you have decided to do, you mark it on a calendar. Once three or four days are marked, the psychological drive to not waste those good days by having to start again kicks in. That helps keep the motivation going, until the end of the trial.</p>

<p>Habitual shows you this calendar, and lets you mark which days you have done. Just type in the name of the new habit, and a new calenar will be created for it, as well as a post made to your Facebook account, so your friends can see what you are doing (and hopefully be supportive).</p>

<p>Login is done entirely through Facebook, so you need to have a Facebook account to use it. This is something of an experiment, and if it takes off I may add Twitter, Google and general OpenID login. I will have to see how things progress.</p>

<p>Here are a couple of links if you want to read more about the idea of the thirty day trial:
<ul>
	<li><a title="Jerry Seinfeld's Productivity Secret" href="http://lifehacker.com/software/motivation/jerry-seinfelds-productivity-secret-281626.php">Jerry Seinfeld's productivity secret</a></li>
	<li><a title="30 Days to Success" href="http://www.stevepavlina.com/blog/2005/04/30-days-to-success/">30 Days to success</a></li>
</ul></p>