<div id="header">
  <div id="top">
    <div id="fb_like">

    </div>

        <%= render :partial => "shared/super_nav" %>
  </div>
  <div id="masthead">
        <div id="logo"></div>
  </div>
  
  <div class="clearfix">
   
  </div>
      
      <div id="nav">
        <ul>
          <li class="selected">Habits</li>
        </ul>
      </div>
      <div id="breadcrumbs">
        
      </div>
      
      <div id="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
</div>