<!DOCTYPE html>
<html>
<head>
  <title>Habitual</title>
  <%= stylesheet_link_tag ["reset.css"] %>
  <%= javascript_include_tag ["jquery-1.4.4.min", "js-model-0.9.4.min", "application"] %>
  <%= csrf_meta_tag %>
</head>
<body>
Hello, i'm a header
<%= yield %>

</body>
</html>
