<!DOCTYPE html>
<html>
<head>
  <title>Habitual</title>
  <%= stylesheet_link_tag ["reset.css", "defaults.css", "shared.css"] %>
  <%= javascript_include_tag ["lib/jquery-1.4.4.min", 
                              "lib/js-model-0.9.4.min", 
                              "lib/date", 
                              "models/habit",
                              "plugins/habit_list"] %>
  <%= csrf_meta_tag %>
</head>
<body>
Hello, i'm a header
<%= yield %>

</body>
</html>
